html {
  font-family: 'Nanum Gothic', sans-serif;
  scroll-behavior: smooth;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

container {
  display:flex;
  
}

.top{
  height:100vh;
}


.whole{
  display:flex;
  flex-direction:column;
  width:100%;
}

.orange {
  background-color:orange;
  width:50%;
 
}
.black {
  background-color:black;
  width: 50%;
  
}

/*FIRST SECTION*/

h1 {
  font-size: 55px;
  letter-spacing: 15px;
  font-weight: 100;
  padding-left: 10%;
  padding-top: 20%;
  opacity: 0;
  transition: 1s opacity;
  text-shadow: 3px 3px 5px orangered;
 }

 ul{
   list-style-type: none;
 }
.firstLiSet li {
  list-style-type: none;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: 100;
  text-align: center;
  padding-top: 3em;
  opacity: 0;
  transition: 1s opacity;

  
  
}

.firstLiSet li a {
  text-decoration: none;
  color:rgb(255,140,0);
  
  }

.firstLiSet li a:link
.firstLiSet li a:visited {
  text-decoration: none;
  color:rgb(255,140,0);
}

.firstLiSet li a:hover {
  padding-bottom: 7px;
  border-bottom: 2px solid white;
  width: 2px;
  
  }

.icon {
color:rgb(255,140,0);


}

.icons{
  display: flex;

  justify-content: space-around;
  font-size: 30px;
  width:93%;
  padding-top:60px;

}




.icons li a{
  padding:50px;
  width: 20px;
 
  
}


.icons a:link,
.icons a:visited{
  text-decoration: none;
  margin: 32px;
}




.break {
  padding-top: 40%;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('codebackground-min.jpg');
  background-attachment: fixed;

}

/*PROJECTS SECTION*/

.projects {
  display: flex;
  flex-direction:row-reverse;
}

.examples{
  display:flex;
  flex-direction:column;
}

.projects h2,
.about h2 {
  color: rgb(255,140,0);
  font-size: 65px;
  text-align: center;
  padding-top: 20%;
  text-shadow: 3px 3px 5px red;
  letter-spacing: 3px;
}



.divide{
  width: 50%;
  height: 2px;
  margin-left: 25%;
  background-color: orangered;
}

.box p {
  padding-left: 25%;
  font-size:20px;
  width:40%;
}

 
.projects img {
  width: 40%;
  height: auto;
  padding-left: 25%;
}

.projects img:last-of-type{
  padding-bottom: 20px;
}


.projects h4 {
  font-size: 25px;
  margin-left:25%;
  letter-spacing: 1px;
  font-weight: 100;
  border-bottom: solid 2px black;
 width: 39%;
}

.break1 {
  padding-top: 40%;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('comp-min.jpg');
  background-attachment: fixed;
}

.break2 {
  padding-top: 40%;
  width: 100%;
  height: 5vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('carlos-deleon-qHAbhatTRTs-unsplash-min.jpg');
  background-attachment: fixed;
}

/*SKILLS*/

.skills h2 {
  font-size: 63px;
  text-align: center;
  padding-top: 20%;
  text-shadow: 3px 3px 5px orangered;
  letter-spacing: 3px;
}

.skills li {
  color:  rgb(255,140,0);
  font-size: 22px;
  list-style-type:none;
  width: 88%;
  text-decoration: none;
  letter-spacing: 1px;
  padding:5px;
  text-align: center;
  
}

/*ABOUT*/


.me {
  width: 40%;
  height: auto;
  margin-left: 25%;
  margin-top: 60px;
  margin-bottom: 100px;
  border-radius: 50px;
}


.about p {
  font-size: 25px;
  padding-left: 50px;
  padding-top: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  width: 70%;
  

}

@media all and (max-width: 1024px) and (height:775px){
  .whole{
    width:100%;
  }
  
  h1 {
    font-size: 45px;
    margin-left:-26px;
    margin-top: 151px;
   
  }
  .projects h4 {
    font-size:30px;
  }

  .projects p {
    font-size:22px;
  }
  .projects img {
    width: 40%;
  }

  .firstLiSet,.icons{
    padding-top: 15%;
  }
  .icons{
    width:88%;
    padding-top: 18%;
  }
  .projects h2,
  .skills h2,
  .about h2 {
    font-size: 60px;
    letter-spacing: 4px;
  }
  .firstLiSet li {
    margin-left:-3px;
  }

  .about img {
    width:50%;
  }
  .about p {
    font-size:30px;
  }
}

@media all and (max-width: 768px) and (height: 775px){

  h1 {
    padding-top: 150px;
    font-size: 29px;
  
  }
  .firstLiSet{
    margin-left:-33px;
  }
  li a{
     font-size:25px; 
     
  }
  .icons a:link,
  .icons a:visited{
    padding:14px;
  }
  
  .me{
    height: 25%;
    width: 55%;
  }

  .projects h2,
  .skills h2,
  .about h2 {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 100;
  }

  .projects h4{
    font-size: 27px;
    width:50%;
  }

  .projects img{
    width: 175px;
    height: auto;
  }

  .projects p{
    margin-left:-5px;
    width:56%;
  }

 .skills li{
   font-size:20px;
 }

 .about p{
   font-size: 25px;
 }
 .about img{
  width: 62%;
  height: auto;
  margin-left: 58px;
 }

}

@media all and (max-width: 425px){

  body {
    width:fit-content;
  }

  .top{
    height: 6%;
    display: flex;
    flex-direction: column;
   
  }
  .orange,
  .black{
    width:100%;
  }
  h1{
    font-size: 28px;
    letter-spacing: 5px;
    width: 10%;
   
    margin-left: 77px;
    margin-top: -20px;
    padding-bottom: 119px;
   
  }
  .firstLiSet{
  margin-top:17px;
  margin-bottom:-18px;
  }
  .firstLiSet li{

    margin-top: -45px;
    padding:30px;

  
  }
  .firstLiSet a{

    font-size:22px;
  }

  .icons{
    width:76%;
  }
  .icon{
    width: 27%;
  }

  .icons li{
    padding:7px;
  }


  .break,
  .break1{
    padding-top:60%;
    height:175px;
    background-attachment: initial;
  }
 
  .break2{
    padding-top:77%;
    background-attachment: initial;
  }
  .skills{
    display: flex;
    flex-direction:column;
  }
  .projects {
    display: flex;
    flex-direction: column-reverse;
  }

  .projects h2,
  .skills h2,
  .about h2 {
    font-size: 34px;
    margin-top:-45px;
  }
  .box{
    padding-bottom: 10px;
    margin-right:15%;
  }
  .projects img{
      width:69%;
      margin-left:-24px;
  }

  .projects h4{
    width: 85%;
    margin-left:40px;
  }
  .projects p {
    width: 75%;
    font-size:19px;
    margin-top:-5px;
    margin-left:-22px;
  }

  .skills li {
    font-size: 24px;
    width: 100%;
    margin-left: -27px;
  }

  .about {
    display:flex;
    flex-direction:column;
  }
  .about p {
    width:90%;
    margin-left:-26px;
    font-size: 21px;
  }

  .about img{
    width: 240px;
    height: 285px;
    padding-left: 7%;

  }
  footer {
    font-size:15px;
  }
}

